={% extends 'base.html' %} 

{% block title %}Skill | Shibin{% endblock %}
{% block isActiveSkill %}active {% endblock %}
                            
  {% block body %} 
  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/c.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">C-Programming</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/python.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">Python</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/c-plusplus.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">C++</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/django.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">Django</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/tensorflow.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">Tensorflow</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/opencv.svg
                " alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">OpenCV</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/unity.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">Unity</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/vr-ar.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">Google VR</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/8bcb236f8e9226de3ca3e9beb68d78b2814729df/Portfolio/Portfoilo%20site/P-icons/ar.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">AR Core</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/anaconda.svg
                " alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">Anaconda</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/c6b741f520205fd91165b168e119eda0012bd50f/Portfolio/Portfoilo%20site/P-icons/vscode.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">VS Code</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/8bcb236f8e9226de3ca3e9beb68d78b2814729df/Portfolio/Portfoilo%20site/P-icons/github.svg" alt="Kiwi standing on oval" width="100" height="100">
              </div>
              <h4><a href="">Github</a></h4>
            </div>
          </div>

        </div>

      </div>


      <!-- ======= Facts Section ======= -->
      <section id="facts" class="facts">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Achivements</h2>
          </div>

          <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
              <p>Honors</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
              <p>Journels</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hackathons</p>
            </div>

          </div>

        </div>
      </section><!-- End Facts Section -->


    </section><!-- End Services Section -->

  </main><!-- End #main -->
  {% endblock %}

</html>